[submodule "api/thaumcraft/api"]
	path = api/thaumcraft/api
	url = https://github.com/Azanor/thaumcraft-api.git

[submodule "api/ForestryAPI"]
  path = api/ForestryAPI
  url = https://github.com/ForestryMC/ForestryAPI.git
